@CHARSET "windows-1255";

.root {
	-fx-background-color: green;
}

.label {
	-fx-font-size: 16px;
	-fx-text-fill: #ffffff;
	-fx-font-weight: bold;
	-fx-text-alignment: CENTER;
}

.button {
	-fx-color: #808080;
	-fx-text-size: 13px;
	-fx-padding: 5px;
}

.button:hover {
	-fx-color: #0000ff;
}

.button:pressed {
	-fx-color: #ffffff;
}

#statisTxtArea {
	-fx-font-size: 14px;
	-fx-pref-column-count: 20;
	-fx-pref-row-count: 6;
}

#mainFuelBox {
	-fx-border-color: #000000;
}

#FuelControl {
	-fx-alignment: center-left;
	-fx-background-color: #004080;
	-fx-text-color: #ff0000;
	-fx-padding: 5px;
}